
body {
  font-size: 15px;
  line-height: 1.5; 
  background: #fff 0 0 repeat;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, serif;
  font-weight: 400;
  color: #666;
  padding: 0;
  margin: 0;
}

a {
  color: #2879d0;
}
a:hover {
  color: #2268b2;
}

header {
  position: fixed;
  border-bottom: 1px solid red; 
  background: #fcbdd1;
  color: #333;
  padding: 0;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  z-index: 1000;
}

header h1 {
  font-size: 18px;
  padding: 15px;
  margin: 0px;
}

h2 {
  font-size: 16px;
  font-weight: bold;
}

#main {
  margin-top: 50px;
  margin-left: 0;
}

.tagline {
  float: right;
  font-size: .8em;
  font-weight: normal;
  line-height: 1.3;
  letter-spacing: 0;
}

.editor-wrapper {
  float: left;
  width: 40%;
  padding-left: 10px;
  padding-right: 25px;
  min-width: 400px;
  height: 100%;
}

.editor { 
  background: #fcfcfc;
  width: 40%;
  min-width: 400px;
  padding: 15px;
  height: 90%;
  font-size: 1.2em;
}

textarea.editor  {
  border: 1px solid #f3f3f3;
}

#results {
  float: left;
  display: inline-block;
  padding-left: 30px;
  box-sizing:border-box;
  width: 50%;
}

.inner {
  position: relative;
  width: 940px;
  margin: 0 auto;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

.tab-pane {
  padding-top: 10px;
  font-size: 1.2em;
}



footer {
  position: fixed;
  border-top: 1px solid lightgreen; 
  background: #BDFCC9;
  padding: 10px;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
  z-index: 1000;
}

.credit {
  font-size: 1em;
  float:right;
  text-align: right;
}

th { padding: 3px 5px; }
td { border: 1px solid #aaa; padding: 3px 5px;}
.unparseable { background: #ffe5e5;}

